@font-face {
    font-family: 'Bubblegum';
    font-style: normal;
    src: url("fonts/BubblegumSans-Regular.ttf");
}

.app-frame {
    display: flex;
    flex-direction: column;

    height: 100vh;
    padding: 1em;
    margin: 0 !important;

    background: darkgreen;
}

.app-frame * {
    font-family: Bubblegum, sans-serif !important;
}

.app-frame > * {
    display: flex;
}

.app-frame > * ~ * {
    margin-top: 1em;
}

.app-frame > .header > * {
    text-align: center;
    color: black;
}

.app-frame > .content {
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 1;
}

.app-frame > * > * {
    flex-grow: 1;
    background: white;
    border-radius: 2em;
    border: green 1em solid;
    overflow: auto;
    padding: 1em;
}

.app-frame > * > * ~ * {
    margin-left: 1em;
}